@mixin default(
    $background: var(--color-accent-200),
    $color: var(--color-dark-200),
    $hover-background: var(--color-accent),
    $hover-color: var(--color-dark-200)
    ) {
    background-color: $background;
    color: $color;
    padding: 1rem 2rem;
    border: 2px solid #707070;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }
}